.user_container{
    display: flex; 
    justify-content: flex-start;
    .custom_icon{
        margin-top: 5px;
    }
    .uname{
        margin-top: 0px;
        margin-left: 12px;
        font-size: 40px;
    }
}

.profile{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 300px;
    .map{
        width: 50%;
        background-color: cadetblue;
        margin-right: 10px; 
    }
    .cha{
        background-color:#eff0f2;
        width: 100%;

        .item1{
            display: flex;
            justify-content: space-between;
        }
        .chart{
            margin-top: 50px;
            width: 100%;
        }
    }
}

table, th {
    text-align: center;
    padding: 10px;
    // color:000008;
    font-size: 15px;
}

thead{
    border-bottom: 2px solid;
}

td{
    color: black;
    padding: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}