.upload_container{
    label {
        cursor: pointer;
        width: 68%;
        height: 250px;
        background:#e3e3e3;
        padding: 200px 34px 100px 34px;
        text-align: center;
        .custom_upload_icon{
            color: #000000;
            font-size: 80px;
        }
        .uploader{
            display: inline-block;
            padding: 65px;
            border: dashed 2px;
            border-image-slice: 2;
            border-image-repeat: round;  
            width:80%;
            height:50%;
            input {
                opacity: 0;
                position: absolute;
                width: 75%;
                left: 12.5%;
                height: 325px;
                top: 155px;
                z-index: 5;
            }
            .upload_doc{
                margin-top: 15px;
                letter-spacing: 2px;
            }
        }
    }
}
.upload_files_head{
    background: #e3e3e3;
    color: grey;
    margin-top: 70px;
    padding: 10px;
    display: flex;
    font-size: 12px;
    font-weight: 100px bold;
    justify-content: space-between;
    border-bottom:2px solid #c5bfbf;    
    .upload_doc{
        padding-left: 20px;
            }
    .upload_time{
        padding-right: 20px; 
            }
    
}
.uploaded_files{
    .extension{
        background: #b1abab;
        float: left;
        padding: 10px;
    }
    .uploaded_doc{
        text-align: left;
        margin-left: 10px;
        font-size: 15px;
        font-weight: 100;
    }
    .uploaded_time{
        font-size: 15px;
        font-weight: 100;
        padding-top: 18px;
    }

}