.user_approval_page{
    .user_approval{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    font-size: 17px;
    background: #e3e3e3;
    border: 2px #e3e3e3;
    color:#b1a2a2;
    padding: 5px;
.username{
    flex: 0.3;
    margin-left: 20px;
}
.organization{
    flex: 0.3;
    margin-right: 40px;
}
.request{
    flex: 0.07;
    margin-right: 25px;
    //margin-bottom: 5px;
}
}
.list_user{
    display: flex;
    //margin: 10px 0;
    justify-content: space-between;
    font-size: 13px;
    background: #e3e3e3;
    border-bottom: 2px solid #c5bfbf;
    color:black;
    padding: 8px;
.user_name{
    flex: 0.3;
    margin-left: 20px;
    }
    .org{
        flex: 0.3;
    }
    .req{
        flex: -0.90;
        //margin-left: 5px;
        margin-right: 25px;
        //margin-right: 5px;
        //margin-bottom: 5px;
    .accept{
        padding: 2px;
        color: green;
        //background: green;
        border-radius: 5px;
        //border-bottom: 2px solid green;
        }
    .reject{
        padding: 0px;
        color: red;
        //background: red;
        border-radius: 5px;
        //border-bottom: 2px solid red;
        }
    .delete{
        padding: 2px;
        // color: red;
        //background: red;
        border-radius: 5px;
        //border-bottom: 2px solid red;
        }
    }
    }
}

.user_approval_table{
    .accept{
        padding: 2px;
        color: green;
        border-radius: 5px;
        }
    .reject{
        padding: 2px;
        color: red;
        border-radius: 5px;
        }
}