.header{
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
    .logo{
        //flex: 1;
        // height: 30;
        // width: 30;
        margin-bottom: 18px;
        font-size: 25px;
        font-weight: bold;
    }
    .logout{
        //flex: 0.2;
        margin-top: 40px;
        font-size: 20px;
        color:  #2b2323;
    }
}
