.login_container{
    //border:2px solid #9a55ff ;
    //box-sizing: border-box;
    font-weight: 300;
    text-align: center;
    margin-top: 100px;
    .sign_in{
        //color: #9a55ff;
        margin: 30px;
        font-size: 107px;
        font-weight: 500;
        //box-shadow: 5px 5px 8px grey;
    }
    .input_borders{
        display: flex;
        text-align: left;
        background: #e3e3e3;
        width: 30%; 
        //margin-bottom: 17px;
        padding:8px;
        margin: 30px 30px 15px 30px;
        border-radius: 6px;
        margin-left:auto;
        margin-right: auto;
        box-shadow: 5px 5px 8px grey;
        .custom_icon{
            margin-left: 10px;
            color:  #00008b;
            margin-top: 16px;
        }            
    }
    input{
        border-radius:5px;
        font-size: 18px;
        border: none;
        width: 90%;
        padding:15px;
        background: #e3e3e3;
        //box-shadow: 5px 5px 8px rgb(133, 36, 36);
        &::-webkit-input-placeholder {
            color:black;
            opacity: 0.3;
        }
        &:focus{
            outline: none;
        }
    }
    .signin_submit{
        margin-top: 10px;
        margin: auto;
        width: 10%;
        padding:14px 0px;
        input{
            box-shadow: 5px 5px 8px grey;
            cursor: pointer;
            color: #ffffff;
            //background: linear-gradient(to right, #6aa0e7, #00008b);
            background: #0038E3;
            font-family: "ubuntu-bold",sans-serif;
            //font-size: 1.3rem;
            font-size: 14px;     
            font-weight: 900;
            //font-weight: 500;  
            &:hover{
                transform: translateY(-3px);
            } 
            }
        }
}
    .sign_up{
        margin-top: 20px;
        color: #999999;
        font-size: 20px;
        .clickable-item{
            color: #00008b;
        }
}         

            
                
                
            

   
