.dashboard{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .map{
        width: 50%;
        background-color: saddlebrown;
    }
    .flex-container{       
        display: flex;      
        flex-wrap: wrap; 
        width: 50%;

        .item{
            background-color: #f1f1f1;
            width: 40%;
            padding: 3%;
            margin: calc(2% + 1px);
            border: 1px solid #f1f1f1;
            &:nth-child(2n){
                margin-right: 0;
            }
            &:nth-child(1){
                margin-top: 0;
            }
            &:nth-child(2){
                margin-top: 0;
            }
            &:nth-child(5){
                margin-bottom: 0;
            }
            &:nth-child(6){
                margin-bottom: 0;
            }
        }
        .active{
            background:#ffffff;  
            border: 1px solid #606060;  
            border-radius: 3px;               
        }       
    }
}
table, th {
    border-bottom: 1px solid #cec9c9;
    // border-top: 1px solid rgb(211, 202, 202);
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    color:000008;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

tr{
    color: #cec9c9;
}

td{
    color: black;
    padding: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}